@tailwind base;

@tailwind components;

@tailwind utilities;

body {
    @apply font-serif;
}

h2, p {
    @apply my-4;
}

@media (min-width: 768px) {
    .md-overlay, .md-overlay-footer, .md-overlay-open {
        position: absolute;
        left: auto;
        width: 100%;
        height: auto;
        max-height: 100%;
        z-index: 10;
        background-color: rgba(255, 255, 255, 0.6);
    }
    .md-overlay, .md-overlay-open {
        top: 0;
    }
    .md-overlay-open {
        height: 100%;
        background-color: rgba(255, 255, 255, 0.8);
    }
    .md-overlay-footer {
        bottom: 0;
    }
}
